.sidebar {
  min-height: 100vh;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  color: white;
  background-color: #545785;
  margin : 10px 0px 20px 10px;
  border-radius: 2%;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1000;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-item a {
  font-size: 18px;
  padding: 12px;
  color: white;
  text-decoration: none; 
}


.nav-item a:hover {
  
  color: #dcfd64 !important; 
}


.sidebar .logo {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 15px;
  margin: 0 auto;
}





.sidebar .dropdown-menu {
  color: #ffffff;
  background-color: #545785;
}

.sidebar .dropdown-menu .dropdown-item:hover {
  color: #dcfd64
}


body {
  background-color: #F5F5F7; 
  color: #2B2D42;
}


.container-fluid {
  margin-left: 10px;
  padding: 20px;
}


main {
  margin-left: 0;
  padding-left: 25px;
  padding-right: 25px;
}


.card {
  background-color: #EAEAEA; 
  color: #2B2D42; 
  margin-bottom: 20px;
  transition: transform 0.3s ease, border 0.3s ease;
  border-radius: 8px; 
  border: 1px solid #CCCCCC; 
}
.card_size {
  width: 100%;
  max-width: 250px;
  height: 350px;
  background-color: #EAEAEA;
  color: #2B2D42;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  transition: transform 0.3s ease, border 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  border: 2px solid #4CB5AE; 
  transform: translateY(-8px) scale(1.03);
  cursor: pointer;
}


.card-header {
  background-color: #CCCCCC; 
  color: #2B2D42;
}

.card-footer {
  background-color: #CCCCCC;
  color: #2B2D42;
}


.img-fluid {
  border: 2px solid #4CB5AE;
  border-radius: 50%;
}

input[type="checkbox"] {
  accent-color: #4CB5AE;
}




.navbar {
  background-color: #4CB5AE !important;
  color: #000000 !important; 
}

.navbar a {
  color: #000000 !important; 
  text-decoration: none; 
}

.navbar a:hover {
  color: #ffffff !important; 
  background-color: transparent;
}

.nav-item a:hover .fa-icon {
  color: #ffffff; 
}

input[type="text"] {
  background-color: #EAEAEA;
  color: #2B2D42;
  border: 1px solid #4CB5AE; /* Teal border */
}

input[type="text"]::placeholder {
  color: #888888;
}


form, .form-control {
  background-color: #F5F5F7;
  color: #2B2D42;
}


.sidebar .input-group {
  max-width: 200px;
  margin: 20px auto;
}